.activities ul li {
    position: relative;
    padding: 3px 0 3px 30px;
  }
.activities ul li:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    left: 4px;
  }
.activities ul li .point {
    width: 9px;
    height: 9px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 9px;
    border-radius: 100%;
    border: 1px solid transparent;
  }
.activities ul li.primary:before {
    background: #3f51b5;
  }
.activities ul li.primary .point {
    background: #3f51b5;
    border-color: #3f51b5;
  }
.dark-layout .activities ul li.primary:before {
    background: #555;
  }
.dark-layout .activities ul li.primary .point {
    background: #555;
    border-color: #555;
  }
.activities ul li.success:before {
    background: #4caf50;
  }
.activities ul li.success .point {
    background: #4caf50;
    border-color: #4caf50;
  }
.activities ul li.warning:before {
    background: #ffeb3b;
  }
.activities ul li.warning .point {
    background: #ffeb3b;
    border-color: #ffeb3b;
  }
.activities ul li.info:before {
    background: #2196f3;
  }
.activities ul li.info .point {
    background: #2196f3;
    border-color: #2196f3;
  }
.activities ul li.danger:before {
    background: #f44336;
  }
.activities ul li.danger .point {
    background: #f44336;
    border-color: #f44336;
  }
.activities ul li.pink:before {
    background: #e91e63;
  }
.activities ul li.pink .point {
    background: #e91e63;
    border-color: #e91e63;
  }